* {
    /* `otf-font-awesome` is required to be installed for icons */
    border: none;
    font-weight: bold;
    border-radius: 0;
    font-family: FiraCodeNerdFont;
    font-size: 8px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(00, 00, 00, 00);
    background-color: rgba(00,00,00,0.8);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}
tooltip {
    background: #000000;
    border-radius: 10px;
    border-width: 0px;
    border-style: solid;
    border-color: #11111b;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
}

#workspaces button {
    padding: 0px;
    background-color: rgba(00,00,00,0.8);
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background-color: rgba(99,64,93,0.8);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
    background-color: rgba(99,64,93,1);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}


#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0px;
    color: #ffffff;
}
#custom-weather {
    padding:0 5px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
.modules-center{
    border-radius: 5;
}


#clock {
    padding: 0;
}
#custom-mediaend {
    padding: 0;
}

#battery {
    padding: 5;
}

#battery.charging, #battery.plugged {
    color: #009900;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    padding:0 5px;
}

#network {
    padding: 5
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    padding: 5;
}

#pulseaudio.muted {
    color: #2a5c45;
    padding: 5;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 1px;
    margin: 0px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 1px;
    margin: 0px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 2px;
}

#keyboard-state > label.locked {
}

.modules-right{
    border-radius: 5;
    padding: 2;
}

.modules-left{
    border-radius: 5;
}
